<blockquote class="a-blockquote{{#each modifier}} a-blockquote--{{this}}{{/each}}" data-t-name="Blockquote">
	<div class="a-blockquote__content">
		<p class="a-blockquote__text">{{{text}}}</p>
	</div>
	{{#if source}}
		<p class="a-blockquote__source">{{{source}}}</p>
	{{/if}}
</blockquote>
