@import '../../../../shared/utils/breakpoints/breakpoints';

.o-intro {
	position: relative;
	height: 100vh;

	&__row {
		align-items: center;
		height: 100vh;
	}

	&__content {
		position: absolute;
		top: 50px;
	}
	&__menu {}
	&__logo {

	}
}
