@import '../../../../shared/utils/breakpoints/breakpoints';

.o-intro {
	position: relative;
	height: 75vh;
	overflow: hidden;

	@media (min-width: $breakpoint-small) {
		height: 80vh;
	}

	@media (min-width: $breakpoint-medium) {
		height: 100vh;
	}

	&__row {
		align-items: center;
		height: 75vh;

		@media (min-width: $breakpoint-small) {
			height: 80vh;
		}

		@media (min-width: $breakpoint-medium) {
			height: 100vh;
		}
	}

	&__image {
		height: 100%;

		/* stylelint-disable */
		.m-image {
			img {
				object-position: top right;

				@media (min-width: $breakpoint-small) {
					object-position: center right;
				}
			}
		}
		/* stylelint-enable */
	}

	&__content {
		position: absolute;
		top: 50px;
	}
	&__menu {}
	&__logo {

	}
}
