<div class="m-slider{{#each modifier}} m-slider--{{this}}{{/each}}" data-t-name="Slider"{{#if decorator}} data-t-decorator="{{decorator}}"{{/if}}>
	{{#if header}}
		<div class="m-slider__header">
			{{#if counter}}<div class="m-slider__counter js-m-slider__counter"></div>{{/if}}
			<div class="m-slider__name js-m-slider__name">{{title}}</div>
		</div>
	{{/if}}
	<div class="m-slider__content">
		<div class="m-slider__action m-slider__action--left">
			<div class="m-slider__arrow m-slider__arrow--left js-m-slider__arrow--left">
				<i class="icon icon-014-chevron-left"></i>
			</div>
		</div>
		<div class="m-slider__reel js-m-slider__reel">
			{{#each items}}
				<div class="m-slider__single-item">
					{{pattern name=this.patternname data=this.data}}
				</div>
			{{/each}}
		</div>
		<div class="m-slider__action m-slider__action--right">
			<div class="m-slider__arrow m-slider__arrow--right js-m-slider__arrow--right">
				<i class="icon icon-015-chevron-right"></i>
			</div>
		</div>
	</div>
</div>
