@import '../../../../shared/utils/breakpoints/breakpoints';
@import '../../../../shared/utils/typography/typography';
@import '../../../../shared/utils/00_variables-colors';

.m-menu {
	@include copy-size-1();

	&__item {
		margin-bottom: 5px;
	}
	a {
		color: $color-white;
		text-decoration: none;
		text-shadow: 2px 2px 2px $color-black;
	}
}
