@import '../../../../shared/utils/breakpoints/breakpoints';
@import '../../../../shared/utils/typography/typography';
@import '../../../../shared/utils/00_variables-colors';

.m-menu {
	@include copy-size-4();

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		white-space: nowrap;
	}

	margin: 0 auto;
	padding: 14px 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	color: $color-black;
	transition: background-color 500ms;
	background-color: rgba($color-white, 0.5);

	@media (min-width: $breakpoint-medium) {
	}

	&__holder {
		display: none;

		@media (min-width: $breakpoint-medium) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}
	}

	&__logo {
		width: 120px;
		margin-right: 20px;
	}

	&__logo-big {
		display: none;
	}

	&__close {
		display: none;
	}

	&__burger {
		width: 100px;
		text-align: right;
		display: flex;
		align-items: center;

		@media (min-width: $breakpoint-medium) {
			display: none;
		}

		span {
			margin-right: 10px;
		}

		.a-bubble {
			display: inline-block;
			background-color: $color-tc-red;
			border: 1px solid $color-white;
			border-radius: 5px;
			font-size: 50px;

			.a-icon {
				font-size: inherit;
				width: 1em;
				height: 1em;

				svg {
					font-size: inherit;
				}
			}
		}
	}

	&__item {
		margin-bottom: 5px;
		margin-right: 14px;

		&:last-child {
			margin-right: 0;
		}

		&--selected {
			color: $color-tc-red;

			a {
				font-weight: 600;
			}
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		font-size: inherit;
		font-weight: 300;

		&:hover {
			color: $color-tc-red;
		}
	}

	&.state-m-menu--fixed {
		position: fixed;
		color: $color-white;
		background-color: rgba($color-black, 1);
		padding: 7px 0;

		.m-menu__item {
			a {
				font-weight: 100;

				span {
					font-size: 25px;
				}
			}
		}
	}
}
body.state-m-menu--open {
	@media (max-width: $breakpoint-medium) {
		height: 100vh;
		width: 100vw;
		overflow: hidden;

		.m-menu {
			position: absolute;
			background-color: red;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 5;

			&__close {
				display: block;
			}

			&__open {
				display: none;
			}

			&__holder {
				min-width: 70%;
				display: block;
			}

			&__burger {
				min-width: 30%;
			}

			.container {
				flex-wrap: wrap;
				flex-grow: 1;
			}

			&__logo {
				display: none;
			}

			&__logo-big {
				display: flex;
				min-width: 100%;
				justify-content: flex-start;
			}
		}
	}
}
