<div class="cont">
	{{pattern name="slider"}}
		<div class="cont__logo">
			{{pattern name="logo"}}
		</div>
    <div class="cont__text">
        <p class="o-intro__text">John Revilla +41 79 730 42 62</p>
        <p class="o-intro__text">Quentin Lachat + 41 79 942 22 60</p>
        <p class="o-intro__text">E-Mail: <a href="mailto:eat@artisst.ch">eat@artisst.ch</a></p>
        <p class="o-intro__text o-intro__text--bold">Coming soon! - Demnächst</p>
    </div>
</div>
