.m-slider {
	position: relative;
	padding: 0 10px;

	&__content {
		display: flex;
		flex-wrap: wrap;
	}

	&__header {
		display: flex;
		border-bottom: 1px solid #f2f2f2;
		margin-bottom: 10px;
		justify-content: space-between;
		padding: 0 20px;

		@media (min-width: $breakpoint-large) {
			padding: 0;
		}
	}

	&__name {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
		color: gray;
	}

	&__counter {
		font-size: 14px;
	}

	@media (min-width: $breakpoint-medium) {
		padding: 0;
	}

	&__reel {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;

		@media (min-width: $breakpoint-large) {
			width: 90%;
		}
	}

	&__single-item {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		vertical-align: top;
	}

	&__action {
		font-size: 30px;
		width: 0;
		position: relative;

		&:hover {
			color: blue;
		}

		@media (min-width: $breakpoint-large) {
			width: 5%;
		}

		i {
			color: #ffffff;

		}
	}

	&__arrow {
		padding: 5px;
		background-color: rgba(blue, 0.8);
		top: 25%;
		position: absolute;
		display: block;
		width: 40px;
		transform: translateX(-40%);
		border-radius: 5px;
		cursor: pointer;
		z-index: 5;

		&:hover {
			background-color: rgba(blue, 1);
		}

		@media (min-width: $breakpoint-small) {
			top: 15%;
		}

		@media (min-width: $breakpoint-medium) {
			top: 10%;
		}

		@media (min-width: $breakpoint-large) {
			top: 20%;
			transform: translate(-50%, -50%);
		}

		&--right {
			left: -15px;

			@media (min-width: $breakpoint-small) {
				left: -25px;
			}

			@media (min-width: $breakpoint-large) {
				left: 50%;
			}
		}

		&--left {
			right: -45px;

			@media (min-width: $breakpoint-small) {
				right: -55px;
			}

			@media (min-width: $breakpoint-large) {
				left: 50%;
			}
		}
	}

	&__dots {
		position: relative;
		bottom: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 24px 0 0 0;
		width: 100%;
		background-color: transparent;

		li {
			position: relative;
			display: block;
			height: 20px;
			width: 20px;
			padding: 0;
			cursor: pointer;
			button {
				border: 0;
				background: transparent;
				display: block;
				height: 20px;
				width: 20px;
				outline: none;
				line-height: 0;
				font-size: 0;
				color: transparent;
				padding: 5px;
				cursor: pointer;

				&:hover, &:focus {
					outline: none;

					&:before {
						opacity: 0.8;
					}
				}

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 20px;
					height: 20px;
					font-family: 'sdx-icons';
					font-size: 20px;
					line-height: 20px;
					text-align: center;
					color: blue;
					opacity: 0.5;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&.slick-active button:before {
				color: blue;
				opacity: 1;
			}
		}
	}
}
