<div class="o-intro{{#if modifier}} o-intro--{{modifier}}{{/if}}" data-t-name="Intro"{{#if decorator}} data-t-decorator="{{decorator}}"{{/if}}>
	{{#if slider}}
		<div class="o-intro__slider">
			{{pattern name="slider" data=slider}}
		</div>
	{{/if}}
	{{#if image}}
		<div class="o-intro__image">
			{{pattern name="image" data=image}}
		</div>
	{{/if}}
</div>
