$color-white: #ffffff;
$color-black: #000000;
$color-gray: #d3d3d3;
$color-gray-2: #696969;
$color-tc-red: #d12;
$color-crimson: #dd1122;
$color-crimson2: #db172b;
$color-gray-sport-line: #d7d7d7;
$color-gray-sport-bg: #282828;
$color-gray-border2: #c0c0c0;
$color-gray-border3: #f0f0f0;
$color-blue-link-tips: #2d90ec;
$color-tc-black: #121212;
$color-tc-gray-dark: #181818;
$color-tc-gray-mid: #282828;
$color-tc-gray-midlight: #969696;
$color-tc-gray-bg: #f7f7f7;
$color-tc-gray-light: #b2b2b2;
$color-tc-btn-border: #5e5e5e;
