@import '../../../utils/breakpoints/breakpoints';
@import '../../../../shared/utils/typography/typography';

body {
	font-family: 'Neue Helvetica W05';
	font-weight: 300;
	font-size: 16px;
}
/* stylelint-disable */
span.artisst {
	@include artisst-text();
}
/* stylelint-enable */
