body {
	font-family: 'Neue Helvetica W05', sans-serif;
	font-weight: 300;
	color: #000000;
	background-color: #696969;
	margin: 0;
	padding: 0;
}

.cont {
	position: relative;

	&__logo {
		position: absolute;
		left: 20px;
		width: 200px;
		top: 20px;

		@media (min-width: $breakpoint-medium) {
			width: 300px;
			top: 30px;
		}
	}

	&__text {
		text-align: right;
		position: absolute;
		right: 20px;
		width: 100%;
		bottom: 20px;
		color: inherit;

		a {
			color: inherit;
		}

		@media (min-width: $breakpoint-medium) {
			width:  350px;
			bottom: auto;
			top: 20px;
		}
	}
}
