<nav class="m-menu{{#each modifier}} m-menu--{{this}}{{/each}}" data-t-name="Menu"{{#if decorator}} data-t-decorator="{{decorator}}"{{/if}}>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="m-menu__holder">
					{{#each items}}
						<li class="m-menu__item{{#if selected}} m-menu__item--selected{{/if}}">
							<a href="{{href}}">
								{{{text}}}
							</a>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</nav>
