<div class="o-intro{{#if modifier}} o-intro--{{modifier}}{{/if}}" data-t-name="Intro"{{#if decorator}} data-t-decorator="{{decorator}}"{{/if}}>
	<div class="o-intro__image">
		{{pattern name="image"}}
	</div>
	<div class="o-intro__content">

	</div>
</div>
