@import '../../../../../shared/utils/breakpoints/breakpoints';
@import '../../../../../shared/utils/typography/typography';
@import '../../../../../shared/utils/00_variables-colors';


.m-slider--content {
		@media (max-width: $breakpoint-medium) {
			position: relative;
			left: 50%;
			right: 50%;
			width: 100vw;
			margin-left: -50vw;
			margin-right: -50vw
		}

	.m-slider {
		&__single-item {
			height: auto;
		}

		&__action {

		}

		&__reel {
			width: 100%;
		}

		&__arrow {
		}
	}
}
