<div class="o-footer" data-t-name="Footer">
	<div class="container">
		<p class="o-footer__text--brand">
			<span class="artisst">artisst</span>
		</p>
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="o-footer__col">
					<h4 class="o-footer__text o-footer__text--main">Kontakt</h4>
					<p class="o-footer__text">John Revilla</p>
					<p class="o-footer__text">Quentin Lachat</p>
					<p class="o-footer__text">Alte Bernstr. 34 - 3075 Rüfenacht</p>
					<p class="o-footer__text">
						<a href="tel:+41797304262">+41 79 730 42 62</a>
					</p>
					<p class="o-footer__text">
						<a href="tel:+41799422260">+41 79 942 22 60</a>
					</p>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="o-footer__col">
					<h4 class="o-footer__text o-footer__text--main">Folge uns!</h4>
					<a class="o-footer__network" href="https://www.facebook.com/artisst-201372537473522/">
						{{pattern name="bubble" data="bubble-facebook"}}
						<p class="o-footer__text">
							Facebook
						</p>
					</a>
					<a class="o-footer__network" href="https://www.instagram.com/artisst_official/">
						{{pattern name="bubble" data="bubble-instagram"}}
						<p class="o-footer__text">Instagram</p>
					</a>
				</div>
			</div>
			<div class="col-12 col-md-4">
				<div class="o-footer__col">
					<h4 class="o-footer__text o-footer__text--main">Foodtruck Tracker</h4>
					<p class="o-footer__text">Coming soon!</p>
				</div>
			</div>
		</div>
	</div>
</div>
